__pycache__/
.pytest_cache/
*.pyc

.env
.env.*

vendor/
node_modules/

storage/logs/*.log
bootstrap/cache/*.php

chromedriver.exe

# Laravel
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

public/build/

# Exceptions
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
